<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="footer.css">
        <link rel="stylesheet" href="style.css?1">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block script %}
        <!--possibilité d'ajouter des scripts à cet endroit depuis les autres pages html-->
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>

    <header>{% block header %}{% endblock %}</header>

    <body>
      
      {% block body %}{% endblock %}

      {% block javascripts %}{% endblock %}
    </body>
</html>
